<launch>

    <arg name="transmission" default="position"/>

    <!-- set parameters and custom transforms -->
    <include file="$(dirname)/frames.launch"/>

    <param name="/move_group/planning_plugin" value="pilz_industrial_motion_planner::CommandPlanner"/>

    <!-- start simulation -->
    <include file="$(find thi_franka_moveit_config)/launch/franka_control.launch" pass_all_args="true">
        <arg name="rviz_tutorial"        value="true"/>
        <arg name="pipeline"             value="pilz_industrial_motion_planner"/>
        <arg name="robot_ip"        value="fci"/>
        <arg name="load_gripper"    value="true"/>
        <arg name="transmission"    value="$(arg transmission)"/>
    </include>

    <!-- launch ompl planning pipeline -->
    <include file="$(find thi_franka_moveit_config)/launch/planning_pipeline.launch.xml" pass_all_args="true">
        <arg name="pipeline" value="ompl"/>
    </include>

</launch>